<div class="static_pages contact_us main">
	<div class="container">
		

		<div class="row">



			<div class="col-sm-6">
			<h1>Contact Us</h1>
				<form action="">
					<div class="form-group">
						<label for="name">Name: 
							<input type="text" name="name" id="name" class="form-control" placeholder="Name...">
						</label>
					</div>
					<div class="form-group">
						<label for="email">Email: 
							<input type="text" name="email" id="email" class="form-control" placeholder="Email...">
						</label>
					</div>
					<div class="form-group">
						<label for="inquiry">Your question: 
							<textarea name="inquiry" id="inquiry" cols="30" rows="7" class="form-control" placeholder="Please tell me..."></textarea>
						</label>
					</div>
					<div class="form-group">
						<input type="submit" value="Send" class="btn btn-primary btn-lg">
					</div>
				</form>
			</div>


			<div class="right_column col-sm-6">
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis optio alias itaque magni autem voluptate beatae qui, rem expedita consectetur deserunt officia necessitatibus ullam quidem, dicta, culpa odit ea?</p>
				<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi voluptatem quia dignissimos incidunt vero ipsam, ad, alias placeat corporis iusto. Iusto amet, esse deserunt architecto. Dolorum magni, eveniet illo!</blockquote>
			</div>

		</div>

	</div>
</div>