<table class="table">
	<thead>
		<th>Topic name</th>
		<th># of videos in specified language</th>
	</thead>

	<% @topics.each do |topic| %>

	<tr>
		<td>
			<%= link_to topic_path(topic.id, language_id: @language.id) do %>
			<%= topic.name %>
			<% end %>
		</td>
		<td><%= Video.where(language_id: @language.id, topic_id: topic.id).count %></td>
	</tr>

	<% end %>


</table>