<div class="languages show main">
	<div class="container">

		<h1><%= @language.name %> Language</h1>

		<h3>
		<%= link_to "Topics", topics_language_path %> | 
		<%= link_to "Speakers", speakers_language_path %> | 
		<%= link_to "All Videos", videos_language_path %>
		</h3>

	</div>
</div>