<div class="languages topics main">
	<div class="container">

		<h1><%= @language.name %> Topics</h1>

		<h3>
		Topics | 
		<%= link_to "Speakers", speakers_language_path %> | 
		<%= link_to "All Videos", videos_language_path %>
		</h3>

		<%= render 'shared/languages/showTopics', topics: @topics %>

	</div>
</div>