<div class="videos container">
	
<h1>All Subjects</h1>

<%= render "application/video_index_table" %>

<table class="table table-hover">
	<tr>
		<th><a href="#A" id="A">A</a></th>
		<th><a href="#">Videos</a></th>
	</tr>
	<tr>
		<td><a href="#">About Dogs</a></td>
		<td><a href="#">(17)</a></td>
	</tr>


	<tr>
		<th><a href="#B" id="B">B</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Breaking News</a></td>
		<td><a href="#">(17)</a></td>
	</tr>


	<tr>
		<th><a href="#C" id="C">C</a></th>
		<th><a href="#"></a></th>
	</tr>



	<tr>
		<th><a href="#D" id="D">D</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td>
			<%= image_tag("Keita_Sugai_Degrees_and_Diplomas_thumbnail.jpg") %>
			<div>
				<a href="#">Degrees and Diplomas</a>
			</div>
		</td>
		<td><a href="#">(17)</a></td>
	</tr>



	<tr>
		<th><a href="#E" id="E">E</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Everyday conversation</a></td>
		<td><a href="#">(17)</a></td>
	</tr>



	<tr>
		<th><a href="#F" id="F">F</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Faking sick</a></td>
		<td><a href="#">(17)</a></td>
	</tr>


	<tr>
		<th><a href="#G" id="G">G</a></th>
		<th><a href="#"></a></th>
	</tr>


	<tr>
		<th><a href="#H" id="H">H</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Homesickness</a></td>
		<td><a href="#">(17)</a></td>
	</tr>
	



	<tr>
		<th><a href="#I" id="I">I</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Internet Usage</a></td>
		<td><a href="#">(17)</a></td>
	</tr>
	



	<tr>
		<th><a href="#J" id="J">J</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td><a href="#">Japanese Food</a></td>
		<td><a href="#">(17)</a></td>
	</tr>


	<tr>
		<th><a href="#K" id="K">K</a></th>
		<th><a href="#"></a></th>
	</tr>

	


	<tr>
		<th><a href="#L" id="L">L</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#M" id="M">M</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#N" id="N">N</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#O" id="O">O</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#P" id="P">P</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#Q" id="Q">Q</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#R" id="R">R</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#S" id="S">S</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#T" id="T">T</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#U" id="U">U</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#V" id="V">V</a></th>
		<th><a href="#"></a></th>
	</tr>
	
	<tr>
		<th><a href="#W" id="W">W</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<td>
			<%= image_tag("naoki.png") %>
			<a href="#">Win Win Negotiations</a>
		</td>
		<td><a href="#">(17)</a></td>
	</tr>





	<tr>
		<th><a href="#X" id="X">X</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#Y" id="Y">Y</a></th>
		<th><a href="#"></a></th>
	</tr>
	<tr>
		<th><a href="#Z" id="Z">Z</a></th>
		<th><a href="#"></a></th>
	</tr>

	


</table>

<%= render "application/video_index_table" %>


</div>