<div class="videos container">
	

	<div class="row">
		<div class="col-sm-12">
			<h1>All Subjects</h1>
			<div class="paginated_links">
				<a href="#">A</a>
				<a href="#">B</a>
				<a href="#">C</a>
				<a href="#">D</a>
				<a href="#">E</a>
				<a href="#">F</a>
				<a href="#">G</a>
				<a href="#">H</a>
				<a href="#">I</a>
				<a href="#">J</a>
				<a href="#">K</a>
				<a href="#">L</a>
				<a href="#">M</a>
				<a href="#">N</a>
				<a href="#">O</a>
				<a href="#">P</a>
				<a href="#">Q</a>
				<a href="#">R</a>
				<a href="#">S</a>
				<a href="#">T</a>
				<a href="#">U</a>
				<a href="#">V</a>
				<a href="#">W</a>
				<a href="#">X</a>
				<a href="#">Y</a>
				<a href="#">Z</a>
			</div>
		</div>
	</div>

	<hr>

	<div class="nav_A row">
		<div class="col-sm-6"><a href="#">A</a></div>
		<div class="col-sm-6"><a href="#">Videos</a></div>
	</div>
	<hr>
	<div class="videos_A_01 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_02 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_03 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_04 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_05 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_06 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_07 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_08 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_09 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_10 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_11 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_12 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_13 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_14 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_15 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_16 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_17 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_18 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_19 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_A_20 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>

	<!-- *********** -->
	<hr>

	<div class="nav_A row">
		<div class="col-sm-6"><a href="#">B</a></div>
		<div class="col-sm-6"><a href="#">Videos</a></div>
	</div>
	<hr>
	<div class="videos_B_01 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_02 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_03 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_04 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_05 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_06 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_07 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_08 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_09 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_10 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_11 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_12 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_13 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_14 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_15 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_16 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_17 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_18 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_19 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>
	<div class="videos_B_20 row">
		<div class="col-sm-6"><a href="#">About this topic</a></div>
		<div class="col-sm-6"><a href="#">(12)</a></div>
	</div>

</div>