<footer>
	<div class="container">
		<p>&copy; Get_Native.com <% time = Time.new %><%= time.year %></p>
		<ul class="horizontal_list">
			<li><a href="#">Company Information</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><%= link_to "FAQs", controller: 'static_pages', action: 'faqs' %></li>
			<li><a href="#">Testimonials</a></li>
			<li><a href="#">Feedback</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>
</footer>