<div class="actions_column col-sm-5 col-md-3">
	<div class="actions_box">
		<h2>Actions</h2>
		<ul>
			<li>
				<%= link_to :controller => 'users', :action => 'edit', :id => @current_user_admin.id do %>
				<span class="glyphicon glyphicon-edit"></span>
				Edit Profile
				<% end %>
			</li>
			<li>
				<%= link_to :controller => 'videos', :action => 'study_index' do %>
				<span class="glyphicon glyphicon-apple"></span>
				Study Now
				<% end %>
			</li>
		</ul>
	</div>
</div>