<div class="photo_column col-md-3 hidden-xs hidden-sm">
	<div class="photo_box">
		<% if @current_user_admin %>
			<img src="http://placekitten.com/180/190" alt="place-kitten">
		<% end %>
		
	</div>
	<br>
	<blockquote>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ratione, ipsam vitae nobis corporis tenetur molestias saepe provident mollitia numquam eos laudantium odit laborum sequi cum ipsum fugit eveniet iusto.
	</blockquote>
</div>