<%= render 'shared/studyPages/setVideoUrl' %>
<div class="study_pages shadowing main">
	<div class="container">

		<h1>Shadowing</h1>

		<button type="button" id="shadowingPopover" class="btn btn-default ppover">Instructions <span class="caret"></span></button>

		<%= render "shared/studyPages/videoInstance" %>

		<%= render "shared/studyPages/playPauseButton" %>
		
	</div>
</div>