<div class="study_pages speaking main">
	<div class="container">
		<h1>Speaking</h1>
		<span class="countdown"><%= @time %></span>
		<button class="play_pause">Play/Pause</button>
		<span class="paused_alert">PAUSED</span>
		<div class="video_instance">
			<iframe width="640" height="390" src="https://www.youtube.com/embed/<%= @video_url %>" frameborder="0" allowfullscreen></iframe>
		</div>
		<%= link_to "Next", action: 'listening', id: @playlist_video.id %>
	</div>
</div>