<div class="study_pages submit_writing main">
	<div class="container">
		<h1>Submit Writing</h1>
		<%= form_tag action: 'submit_and_return_to_root' do %>
		  <div class="form-group">
		  	<%= label_tag :message %>
		  	<%= text_area_tag :message, @message, rows: 10, readonly: true, class: 'form-control' %>
		  	<%= submit_tag "Submit for revision", class: "btn btn-default" %>
		  </div>
		<% end %>
	</div>
</div>