<tr class="study_video_instance">

	<td>

		<%= radio_button_tag "playlist_video", "#{playlistVideo.id}" %>

	</td>


	<td>

		<img src=<%= Video.thumbnail(playlistVideo, true) %>>

	</td>


	<td>

		<%= Topic.nameFromPlaylistVideo(playlistVideo) %>

	</td>


	<td>

		<%= Speaker.fullNameFromPlaylistVideo(playlistVideo) %>

	</td>


</tr>