<div class="playPauseButtonContainer">
	<button id="playPause" class="play_pause btn btn-primary btn-lg" disabled="disabled">
		<span class="glyphicon glyphicon-play"></span>
		<span class="glyphicon glyphicon-pause"></span>
	</button>
</div>