<div class="row">
	<div class="left-col col-sm-6">
		<h3>Get_Native.com</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio non a velit nam quaerat hic omnis, recusandae asperiores. Aperiam quasi recusandae assumenda illum laborum dolorum repellendus consequatur labore pariatur deleniti.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ullam culpa accusamus porro maiores sapiente incidunt, ex, nam cupiditate doloremque quaerat nostrum, illo. Voluptate, accusamus rerum, quisquam vel mollitia exercitationem!</p>
		<button class="btn btn-primary btn-lg">Sign Up</button>
	</div>
	<div class="right-col col-sm-6">
		<h3>Introcution video</h3>
		<img src="http://placehold.it/448x252" alt="">
	</div>
</div>