<div class="left-col col-sm-6">
	<h3>This was me then..</h3>
	<ul>
		<li>I can already speak English, but I want to REALLY sound native-like!</li>
		<li>I don't know how to advance past my current level of English...</li>
		<li>I want to be mistaken for a native speaker!</li>
		<li>I want to focus on speaking and listening...</li>
		<li>I want to learn the linguistic mannerisms of native English speakers!!</li>
	</ul>
	<button class="btn btn-primary btn-lg">Sign Up</button>
</div>
<div class="right-col col-sm-6">
	<h3>This is me now..</h3>
	<img style="width:448px;height:252px;background:grey;" src="http://placehold.it/448x252" alt="">
</div>