<!-- if you don't include this next Jquery script, the FAQs page collapsing won't work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- BOOTSTRAP JAVSCRIPT isn't working correctly without this JQUERY tag inserted directly into the doc -->

<!-- begin CAROUSEL -->
<div id="carousel-example-generic" class="carousel login slide" data-ride="carousel">

  <div class="top-quote">
<<<<<<< HEAD
    <h1>Teach yourself: master</h1>
=======
    <h1>Teach yourself: new_branch</h1>
>>>>>>> new_branch
    <h3>Learn from over 100 videos about over 100 topics of real native speech</h3>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img style="width:960px;height:540px;background:grey;" src="http://placehold.it/960x540" alt="placeholdit">
      <div class="carousel-caption">
        <h3>placeholdit1</h3>
        <p>I'm a placeholdit. Meow.</p>
      </div>
    </div>
    <div class="item">
      <img style="width:960px;height:540px;background:grey;" src="http://placehold.it/960x540" alt="placeholdit">
      <div class="carousel-caption">
        <h3>placeholdit2</h3>
        <p>I'm a placeholdit. Meow.</p>
      </div>
    </div>
    <div class="item">
      <img style="width:960px;height:540px;background:grey;" src="http://placehold.it/960x540" alt="placeholdit">
      <div class="carousel-caption">
        <h3>placeholdit3</h3>
        <p>I'm a placeholdit. Meow.</p>
      </div>
    </div>
  </div>
  <!-- end Wrapper for slides -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- end Controls -->


</div>
<!-- end CAROUSEL -->


<div class="try-signup-options">
	<button class="btn btn-primary btn-lg">Try the Demo!</button>
	<button class="btn btn-primary btn-lg">Sign Up</button>
</div>