// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "compass";
// @import "susy";

/* Sign Up Page */

.users_add.sign_up.container {
	.row {
		@include border-radius();
		background: #fff;
		.quote_column.col-sm-6 {
			blockquote {
				span {
				font-style: italic;
				} // span
			} // blockquote
			p {
				text-align: center;
			}
		} // .quote_column.col-sm-6
	} // .row
} // .users_add.sign_up.container