// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* container */

.container {
  .row {
    @include border-radius;
    background: #fff;
    .quote_column.col-sm-6 {
      blockquote {
        span {
          font-style: italic;
        } // span
     
      } // blockquote
      p {
        text-align: center;
      }
    } // .quote_column.col-sm-6
 
  } // .row
} // .users_add.sign_up.container

.users_edit {
  .row {
    padding-bottom: 20px;
  }
}

.users_show {
  .header.container {
    .row {
      .col-sm-12 {
        padding-bottom: 20px;
      }
    }
  }
  .content.container {
    background: #fff;
    @include border-radius;
    margin-top: 10px;
    .nav_row.row {
      background: #eee;
      margin: 10px 0;
      padding: 25px 0 0;
      border: 1px solid #ddd;
      @include border-radius;
      .button_container {
        margin-bottom: -1px;
        ul.nav.nav-tabs {
          // border-bottom: none;
          li {
            display: inline-block;
            a {
              &.active {
                background: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
              }
              &:hover {
                background: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
              } // a:hover
           
            } // a
         
          } // li
       
        } // ul.nav.nav-tabs
     
      } // .button_container
   
    } // .nav_row.row
    .main_content.row {
      padding-bottom: 40px;
      .photo_column {
        .photo_box {
          padding: 10px;
          border: 1px solid #ddd;
          background: #eee;
          text-align: center;
          @include border-radius;
        } // .photo_box
     
      } // .photo_column
      .info_column {
        margin-bottom: 20px;
        h2 {
          // text-align: center;
          font-weight: 700;
        } // h2
     
      } // .info_column
      .actions_column {
        .actions_box {
          text-align: center;
          padding: 10px;
          border: 1px solid #ddd;
          background: #eee;
          @include border-radius;
          h2 {
            font-weight: 700;
            border-bottom: 1px solid #d5d5d5;
            padding-bottom: 10px;
          } // h2
          ul {
            padding: 0;
            li {
              padding: 3px 0;
            } // li
         
          } // ul
       
        } // .actions_box
     
      } // actions_column
   
    } // .main_content.row
 
  } // .content.container
} // .users_show