// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.videos.show {
  h1 {
    form {
      display: inline-block;
    }
  }
  .tooltip_added {
    display: inline-block;
  }
  .main_video_content {
    padding-bottom: 20px;
  }
}

#collocation_collocation {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
