// Place all the styles related to the StudyPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.study_pages.index {
  div.container {
    background: #fff;
    @include border-radius;
    h1 {
      margin-bottom: 20px;
    }
    .select_time,
    .select_video {
      margin-bottom: 20px;
    }
    div.submit_button {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  } // div.container
} // div.study_pages.index.main
#foo_study_time {
  width: auto;
  display: inline-block;
}

.select_video {
  table {
    tr {
      cursor: pointer;
    }
  }
}

.video_instance {
  text-align: center;
}

.playPauseButtonContainer {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  button {
    padding: 16px 36px;
    font-size: 2.5em;
  }
}

div.study_pages.main {
  h1 {
    text-align: center;
  }
  button#shadowingPopover,
  button#speakingPopover,
  button#listeningPopover,
  button#writingPopover,
  button#submitWritingPopover {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.study_pages.shadowing,
.study_pages.listening {
  .video_info {
    // width: 640px;
    margin: 0 auto;
    a {
      float: right;
    }
  }
}

.main_video_content {
  padding-top: 20px;
}

.study_pages.speaking,
.videos.show {
  .video_info {
    // width: 480px;
    @include clearfix;
    a {
      float: right;
    }
  }
  div.scripts {
    @include box-sizing(border-box);
    padding: 0;
    margin-top: 20px;
    .script {
      // overflow: scroll;
      line-height: 2em;
    }
  }
}

.video_info {
  padding: 5px 0px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.study_pages.speaking,
.videos.show {
  .main_video_content {
    text-align: center;
    .video_instance, .scripts {
      vertical-align: top;
      .script {
        @media screen and (max-width: 768px) {
          margin-top: 15px;
        }
        text-align: left;
        line-height: 2.2em;
      }
    }
  }
}

#collocation_list {
  padding: 0;
}

form#new_collocation {
  padding-top: 10px;
  margin: 15px 0;
  label {
    margin: 0;
    display: block;
  }
  #collocation_collocation {
    width: auto;
    display: inline-block;
  }
  input[type=submit] {
    display: inline-block;
  }
}

.study_pages.shadowing,
.study_pages.listening {
  @media screen and (min-width: 670px) {
    .video_instance {
      width: 100%;
    }
    .video-container,
    .video-container iframe,
    .video-container object,
    .video-container embed {
      padding: 0;
      margin: 0 auto;
      position: relative;
      width: 640px;
      height: 370px;
    }
    .video_info {
      width: 640px;
    }
  }
}

.study_pages.speaking,
.videos.show {
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .video_instance {
      display: inline-block;
    }
    .video-container,
    .video-container iframe,
    .video-container object,
    .video-container embed {
      padding: 0;
      width: 352px;
      height: 198px;
    }
    .video_info {
      width: 352px;
    }
    div.scripts {
      padding: 0 10px 10px 10px;
      display: inline-block;
      margin-top: 0px;
      width: 352px;
      .script {
        margin-top: 0px;
        @include box-sizing(border-box);
      }
    }
  }
  @media screen and (min-width: 992px) {
    .video_instance {
      display: inline-block;
    }
    .video-container,
    .video-container iframe,
    .video-container object,
    .video-container embed {
      padding: 0;
      width: 448px;
      height: 252px;
    }
    .video_info {
      width: 448px;
    }
    div.scripts {
      padding: 0 10px 10px 10px;
      display: inline-block;
      margin-top: 0px;
      width: 448px;
      .script {
        margin-top: 0px;
        overflow: scroll;
        @include box-sizing(border-box);
        line-height: 2em;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .video_instance {
      display: inline-block;
    }
    .video-container,
    .video-container iframe,
    .video-container object,
    .video-container embed {
      padding: 0;
      width: 544px;
      height: 306px;
    }
    .video_info {
      width: 544px;
    }
    div.scripts {
      padding: 0 10px 10px 10px;
      display: inline-block;
      margin-top: 0px;
      width: 544px;
      .script {
        overflow: scroll;
        @include box-sizing(border-box);
        line-height: 2em;
      }
    }
  }
}

// writing
.info_container {
  padding: 5px 0px;
  input {
    float: right;
  }
}


#player {
  pointer-events: none;
}