<div class="header container">
	<div class="row">
		<div class="col-sm-12">
			<h1>
				<%= @current_user_admin.first_name + " " + @current_user_admin.last_name %>
				<% if @layout_style == 'Admin' %>
				(Admin)
				<% end %>
			</h1>
			<p>Currently studying: </p>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			    Japanese
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Japanese</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Spanish</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chinese</a></li>
			    <li role="presentation" class="divider"></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-plus"></span> Add Language</a></li>
			  </ul>
			</div> <!-- .dropdown -->
		</div> <!-- .col-sm-12 -->
	</div> <!-- .row -->
</div> <!-- .header.container -->