<div class="photo_column col-md-3 hidden-xs hidden-sm">
	<div class="photo_box">
		<% if @user %>
			<% if @user.first_name == 'Hank' %>
				<%= image_tag('mug_shot.jpg', :size => '180x190') %>
			<% else %>
				<img src="http://placehold.it/180x190" alt="">
			<% end %>
		<% end %>
		
	</div>
	<br>
	<blockquote>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ratione, ipsam vitae nobis corporis tenetur molestias saepe provident mollitia numquam eos laudantium odit laborum sequi cum ipsum fugit eveniet iusto.
	</blockquote>
</div>