<div class="info_column col-md-6 col-sm-7">
	<h2>Account</h2>
	<hr>
	<form>
	  <div class="form-group email">
	    <label class="control-label">Email</label>
	    <div>
	      <p class="form-control-static"><%= @user.email %> <a href="">Edit <span class="glyphicon glyphicon-edit"></span></a></p>
	    </div>
	  </div>
	  <div class="form-group username">
	    <label class="control-label">Username</label>
	    <div>
	      <p class="form-control-static"><%= @user.username %> <a href="">Edit <span class="glyphicon glyphicon-edit"></span></a></p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">New Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Retype New Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype New Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Current Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">Upload Video</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">We'll let you know if we'd like to put it on our site!</p>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Remember me
	    </label>
	  </div>
  	<button type="submit" class="btn btn-primary" disabled="disabled">Update</button>
	</form>
	<hr>
	<div class="delete_account">
		<p>Unhappy?</p>
		<%= link_to "Delete account", :controller => "users", :action => "delete" %>
	</div>
</div> <!-- info_column col-sm-7 -->