<div class="table-responsive">
	<table class="table">
		<tr>
			<tr>
				<th><a href="#A">A</a></th>
				<th><a href="#B">B</a></th>
				<th><a href="#C">C</a></th>
				<th><a href="#D">D</a></th>
				<th><a href="#E">E</a></th>
				<th><a href="#F">F</a></th>
				<th><a href="#G">G</a></th>
				<th><a href="#H">H</a></th>
				<th><a href="#I">I</a></th>
				<th><a href="#J">J</a></th>
				<th><a href="#K">K</a></th>
				<th><a href="#L">L</a></th>
				<th><a href="#M">M</a></th>
				<th><a href="#N">N</a></th>
				<th><a href="#O">O</a></th>
				<th><a href="#P">P</a></th>
				<th><a href="#Q">Q</a></th>
				<th><a href="#R">R</a></th>
				<th><a href="#S">S</a></th>
				<th><a href="#T">T</a></th>
				<th><a href="#U">U</a></th>
				<th><a href="#V">V</a></th>
				<th><a href="#W">W</a></th>
				<th><a href="#X">X</a></th>
				<th><a href="#Y">Y</a></th>
				<th><a href="#Z">Z</a></th>
			</tr>
		</tr>
	</table>
</div>