<div class="info_column col-md-6 col-sm-7">
	<h2>Collocations</h2>
	<hr>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit tempore, necessitatibus sed, blanditiis cum quis omnis quidem dignissimos maxime, repudiandae asperiores beatae nostrum at deserunt sit ut! Excepturi eligendi, pariatur.</p>
</div> <!-- info_column col-sm-7 -->