<div class="header container">
	<div class="row">
		<div class="col-sm-12">
			<h1>
				<%= full_name_of(@current_user_admin) %>
				<%= @layout_style == 'Admin' ? '(Admin)' : nil %>
			</h1>
		</div> <!-- .col-sm-12 -->
	</div> <!-- .row -->
</div> <!-- .header.container -->