<div class="header container">
	<div class="row">
		<div class="col-sm-12">
			<h1>
				<%= full_name_of(@current_user_admin) %>
				<% if @layout_style == 'Admin' %>
				(Admin)
				<% end %>
			</h1>
			<p>User Profile</p>
		</div> <!-- .col-sm-12 -->
	</div> <!-- .row -->
</div> <!-- .header.container -->